name: Deploy to Cloudflare Pages
on:
  push:
    branches: [master]
  workflow_dispatch:
concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true
env:
  PROJECT_NAME: marimo
  BUILD_DIR: dist
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # ---------- build ----------
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Export requirements.txt
        run: |
          uv export --no-hashes --no-emit-project --output-file=requirements.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      - name: Install the dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Build
        run: |
          marimo export html-wasm notebook.py -o dist --mode edit --show-code -f
      # ---------- publish ----------
      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.BUILD_DIR }} --project-name=${{ env.PROJECT_NAME }}
