name: Python Test
on:
  pull_request:
    paths-ignore:
      - '.github/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  python-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Export requirements.txt
        run: |
          uv export --no-hashes --no-emit-project --output-file=requirements.txt
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"
      - name: Install the dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Test notebook
        run: |
          python3 notebook.py
      - name: Test wasm export
        run: |
          marimo export html-wasm notebook.py -o dist --mode edit --show-code -f
